# yaml-language-server: $schema=https://github.com/ansible/ansible-lint/raw/refs/heads/main/src/ansiblelint/schemas/playbook.json
# While all of the playbooks are broadly responsible for configuring the
# systems, this in particular addresses one-time, persistent configuration
# (unlike, e.g., packages which need to be updated or cosmetic features we
# may change frequently).
- name: Configure systems
  hosts: all
  tasks:
    - name: Ensure SSH accepts env vars
      become: true
      ansible.builtin.copy:
        content: |
          AcceptEnv COLORTERM
          AcceptEnv DARKMODE
        dest: '/etc/ssh/sshd_config.d/10-sam-accept-env.conf'
        group: 'root'
        mode: '644'
        owner: 'root'

    - name: Make Quatsch accessible
      become: true
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: '10.133.7.116 quatsch'
        regexp: 10.133.7.116\s+quatsch

    - name: Set system flake registry
      become: true
      ansible.builtin.copy:
        src: './registry.json'
        dest: '/etc/nix/registry.json'
        owner: 'root'
        group: 'root'
        mode: '644'

    - name: Enable node_exporter
      become: true
      ansible.builtin.systemd_service:
        name: prometheus-node-exporter
        state: started

    # If we need custom certs again, Firefox needs them specially configured here.
    - name: Ensure /etc/firefox/policies exists.
      become: true
      ansible.builtin.file:
        path: '/etc/firefox/policies/'
        state: 'directory'
        owner: 'root'
        group: 'root'
        mode: '0755'

    # Do nothing for now.
    - name: Set Firefox policies.json
      become: true
      ansible.builtin.copy:
        dest: '/etc/firefox/policies/policies.json'
        group: 'root'
        owner: 'root'
        mode: '644'
        content: |
          {
            "policies": {}
          }

    - name: Trust Polly's SSH key
      become: true
      ansible.posix.authorized_key:
        user: root
        state: present
        key: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEH5XuWSd+HLrit6ckDHOcn1gEV5SBnMoRekPDMBYyLQ root@polly'

    - name: Trust Reednet SSH keys
      become: true
      ansible.builtin.copy:
        dest: '/etc/ssh/ssh_known_hosts'
        src: 'ssh_known_hosts'
        group: 'root'
        owner: 'root'
        mode: '644'

    - name: Ensure TLS dir exists.
      become: true
      ansible.builtin.file:
        path: '/var/lib/tls-cert'
        state: 'directory'
        owner: 'caddy'
        group: 'caddy'
        mode: '0700'


    - name: Install TLS keys
      become: true
      ansible.builtin.copy:
        src: '../certs/{{ inventory_hostname }}.key'
        dest: '/var/lib/tls-cert/{{ inventory_hostname }}.key'
        owner: caddy
        group: caddy
        mode: '400'

    - name: Install TLS certs
      become: true
      ansible.builtin.copy:
        src: '../certs/{{ inventory_hostname }}.cert'
        dest: '/var/lib/tls-cert/{{ inventory_hostname }}.cert'
        owner: caddy
        group: caddy
        mode: '400'

    - name: Configure Caddy on hosts
      become: true
      ansible.builtin.copy:
        content: |
          {{ inventory_hostname }} {
            tls /var/lib/tls-cert/{{ inventory_hostname }}.cert /var/lib/tls-cert/{{ inventory_hostname }}.key
            reverse_proxy /metrics localhost:9100

            {% if inventory_hostname == 'polly.reed.edu' %}
            reverse_proxy /pwwidget localhost:7497
            reverse_proxy localhost:8000
            {% endif %}

            {% if inventory_hostname == 'patty.reed.edu' %}
            reverse_proxy localhost:5917
            {% endif %}
          }
        dest: '/etc/caddy/Caddyfile'
        owner: 'caddy'
        group: 'caddy'
        mode: '600'

    - name: Enable Caddy
      become: true
      ansible.builtin.systemd_service:
        name: caddy
        state: started

    - name: Enable apt upgrades
      become: true
      ansible.builtin.copy:
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
        group: 'root'
        owner: 'root'
        mode: '444'
        content: |
          Unattended-Upgrade::Allowed-Origins {
                  "${distro_id}:${distro_codename}";
                  "${distro_id}:${distro_codename}-security";
                  "${distro_id}ESMApps:${distro_codename}-apps-security";
                  "${distro_id}ESM:${distro_codename}-infra-security";
                  "${distro_id}:${distro_codename}-updates";
          };

          // Python regular expressions, matching packages to exclude from upgrading
          Unattended-Upgrade::Package-Blacklist {
          };

          Unattended-Upgrade::DevRelease "auto";

- name: Disable password changing on applicable hosts
  hosts: all:!shadowsource
  tasks:
    - name: Override passwd
      become: true
      ansible.builtin.copy:
        src: '../scripts/passwd.sh'
        dest: '/usr/local/bin/passwd'
        group: 'root'
        owner: 'root'
        mode: '555'

    # This is literally the best way to disable password changing from the GNOME GUI.
    - name: Disable GNOME System Settings Panel
      become: true
      ansible.builtin.copy:
        content: |
          # See Ansible playbook :)
        dest: '/usr/share/applications/gnome-system-panel.desktop'
        group: 'root'
        mode: '644'
        owner: 'root'

- name: Configure backups

  # Only back up CLI-accessible stuff. Nothing else runs services. If we ever
  # end up having the space to back up everything, go ahead and expand this.
  hosts: servers
  tasks:
    - name: Install backup service
      become: true
      ansible.builtin.copy:
        dest: '/etc/systemd/system/backups.service'
        group: 'root'
        owner: 'root'
        mode: '600'
        content: |
          [Unit]
          Description=Run borg backup of /var and /etc.

          [Service]
          Type=oneshot

          Environment="BORG_PASSCOMMAND=/bin/cat /var/borg-passphrase"
          ExecStart=/bin/sh -c 'borg create -v --stats \
            "ssh://backups@quatsch/home/backups/{{ ansible_hostname }}::$(date --iso-8601=minutes)" \
            /var /etc --exclude /var/tmp'

          ReadOnlyPaths=/var /etc
          InaccessiblePaths=/home
    - name: Install backup timer
      become: true
      ansible.builtin.copy:
        dest: '/etc/systemd/system/backups.timer'
        group: 'root'
        owner: 'root'
        mode: '600'
        content: |
          [Timer]
          OnCalendar=daily

          [Install]
          WantedBy=timers.target
