# yaml-language-server: $schema=https://github.com/ansible/ansible-lint/raw/refs/heads/main/src/ansiblelint/schemas/playbook.json
#
# This playbook applies periodic updates. We rely on unattended upgrades on the
# Ubuntu machines and manual intervention on the NixOS machines.
- name: Apply some updates
  hosts: all
  tasks:
    - name: Run upgrade-nix
      become: true
      ansible.builtin.command:
        # We have to run bash as a login shell (`-l`) to get it to source
        # /etc/bash.bashrc (in which we can find nix-required environment
        # variables).
        cmd: |
          bash -l -c 'nix upgrade-nix'
      register: out
      changed_when: out.rc == 0
      failed_when: out.rc != 0
    - name: Check for systems that require a reboot
      ansible.builtin.command: find -L /var/run -maxdepth 1 -wholename /var/run/reboot-required
      register: reboot_required
      changed_when: false
    - name: Reboot systems when required
      when: reboot_required.stdout != ""
      become: true
      ansible.builtin.reboot:
